:root {
    --weather-height: 25%;
}

.weatherContainer {
    width: 65em;
    max-width: 65em;
    height: var(--weather-height);
    background-color: white;
    padding: 30px;
    border-radius: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.informationBlock {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.temperature {
    font-size: 3em;
    margin-top: -15px;
    margin-bottom: -15px;
}

.weatherIcon {
    width: 2em;
    height: 2em;    
}

.imageContainer {
    display: flex;
    justify-content: center;
}

.smallInformationText {
    font-size: 1em; 
}

.largeInformationText {
    font-size: 1.5em;
}